//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 24 19:40:00 2018
//! **************************************************************************

SCHEMATIC START;
COMP "s<0>" LOCATE = SITE "P90" LEVEL 1;
COMP "s<1>" LOCATE = SITE "P88" LEVEL 1;
COMP "c0" LOCATE = SITE "P41" LEVEL 1;
COMP "c2" LOCATE = SITE "P87" LEVEL 1;
COMP "a<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "a<1>" LOCATE = SITE "P30" LEVEL 1;
COMP "b<0>" LOCATE = SITE "P33" LEVEL 1;
COMP "b<1>" LOCATE = SITE "P32" LEVEL 1;
SCHEMATIC END;

